*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.into{
    height: 100vh; 
}

.into video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.into h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white; 
}

section {
    height: 100vh;
    color: black;
}